/* Error: "Este software não está funcionando"
 *   ,
 * 9 | @error 'Este software não está funcionando'
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\styles.sass 9:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: \"Este software n\e3 o est\e1  funcionando\"\a   \2577 \a 9 \2502  @error 'Este software n\e3 o est\e1  funcionando'\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\styles.sass 9:1  root stylesheet";
}
